<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/codepen.css">
    <nav>
        <div class="menu">
            <p class="website_name">Dr.Micheal</p>
            <div class="menu_links">
                <!--logged in-->
                <% if(role == "admin") {%>
                    <a href="/admin" class="link">
                        <%= fullnameforhtmlkey %>
                    </a>
                    <%} if(role == "assistant") {%>
                        <a href="/assistantstudent" class="link">
                            <%= fullnameforhtmlkey %>
                        </a>
                        <% } if(fullnameforhtmlkey != "no" && role == "student") { %>
                            <a href="/studentProfile/<%=code%>" class="link">
                                <%= fullnameforhtmlkey %>
                            </a>
                            <% } else if(fullnameforhtmlkey == "no"){ %>
                                <a href="/firstlog" class="link">Add data</a>
                                <!--not logged in yet-->
                                <%} if(fullnameforhtmlkey == "") {%>
                                    <a href="/login" class="link">Log in</a>
                                    <%} else {%>
                                        <a href="/logout" class="link">Log out</a>
                                        <%}%>
            </div>
            <div class="menu_icon">
                <span class="icon"></span>
            </div>
        </div>
    </nav>
</head>

<body>
    <section class="wrapper">
        <div class="container">
            <div id="scene" class="scene" data-hover-only="false">