<title>Black Points</title>
<%- include("partails/assistHeader") -%>

    <main class="page-content">
        <div class="container crud-table" ng-app="myApp" ng-controller="namesCtrl">
            <div class="clearfix">
                <div class="form-inline pull-right">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="searchName" placeholder="Type name to search" />
                    </div>
                </div>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th ng-click="orderBy('code')">Code</th>
                        <th ng-click="orderBy('name')">Name</th>
                        <th>Total BP</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="user in resultUser = (users | filter: {'code': searchName}) | orderBy: order">
                        <td>{{user.code}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.blackpoints}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="editBP1(user)">Add BP</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="editBP2(user)">Remove BP</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    </div>
    <!-- page-wrapper -->
    <script src="/javascripts/blackpoint.js"></script>
    <%- include("partails/adminFooter") -%>