<title>Course</title>
<%- include("partails/adminHeader") -%>

    <main class="page-content">
        <div class="container crud-table" ng-app="myApp" ng-controller="namesCtrl">
            <div class="clearfix">
                <div class="form-inline pull-left">
                    <button class="btn btn-success" ng-click="addCourse()"><span class="glyphicon glyphicon-plus"> </span>Add new course</button>
                </div>
                <div class="form-inline pull-right">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="searchName" placeholder="Type name to search" />
                    </div>
                </div>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th ng-click="orderBy('name')">Course Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="course in resultCourse = (courses | filter: {'name': searchName}) | orderBy: order">
                        <td>{{course.name}} </td>
                        <td></td>
                        <td>
                            <buttFon class="btn btn-primary" ng-click="editCourse(course)">Edit</buttFon>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteCourse(course)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="crude-form__wrapper" ng-show="triggerForm">
                <h3 ng-show="editForm">Edit Course</h3>
                <h3 ng-show="addForm">Add Course</h3>
                <form name="courseForm" ng-model="courseForm">
                    <div class="form-group">
                        <label for="editName">Course Name</label>
                        <input class="form-control" id="editName" type="text" name="name" ng-model="crudFormName" placeholder="Edit Course Name" required="required" autocomplete="off" />
                        <div class="form-alert alert alert-danger" ng-show="courseForm.name.$invalid &amp;&amp; courseForm.name.$touched">Please input Course Name</div>
                    </div>
                    <div class="form-alert alert alert-danger" ng-show="courseExisted"> This Name has been registerd by other Course</div>
                    <button class="btn btn-primary" ng-click="saveEdit(editCourseId)" ng-disabled="courseForm.$invalid || courseExisted"> <i class="glyphicon glyphicon-pencil"> </i>Save change </button>
                    <button class="btn btn-primary" ng-click="triggerForm = false"> Cancel</button>
                </form>
            </div>
        </div>
    </main>
    </div>
    <!-- page-wrapper -->
    <script src="/javascripts/course.js"></script>
    <%- include("partails/adminFooter") -%>