<title>Exam</title>
<link rel="stylesheet" href="/stylesheets/flipbutton.css">
<%- include("partails/assistHeader") -%>
    <main class="page-content">
        <div class="container crud-table" ng-app="myApp" ng-controller="namesCtrl">
            <div class="clearfix">
                <div class="form-inline pull-left">
                    <button class="btn btn-success" ng-click="insertExam()" id="view"><span class="glyphicon glyphicon-list">
                    </span>Insert Exam</button>
                </div>
            </div>
            <div class="crude-form__wrapper" ng-show="triggerForm">
                <form name="lectureForm" ng-model="lectureForm">
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="course" id="lbcourse">Course</label>
                            <select id="Course" required ng-model="chosenCourse" class="col-md-12" style="height: auto;" ng-change="showLec()">
                                <option value = "">Select a course</option>
                                <option ng-repeat="option in courses" ng-value="option.id" >{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="center" id="lbcenter">Center</label>
                            <select required ng-model="chosenCenter" id="selectcenter" class="col-md-12" style="height: auto;" ng-change="showLec()">
                                <option value = "">Select a center</option>
                                <option ng-repeat="option in centers" ng-value="option.name">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="lecunum" id="lblec">Lecture</label>
                            <select required ng-model="chosenLecture" class="col-md-12" style="height: auto;" id="lec">
                                <option value = "">Select a Lecture</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullmark" id="labfullmark">Full Mark</label>
                        <input class="form-control" id="editfullmark" type="number" name="FullMark" ng-model="crudFormparentFullMark" placeholder="Edit Exam Full Mark" min="10" max="1000" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
    <!-- page-wrapper -->
    <script src="/javascripts/exam.js"></script>
    <%- include("partails/adminFooter") -%>