<<<<<<< HEAD
                
               <title>Home</title>
               <%- include("partails/header") -%>
               
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/codepen.css">

    <title>Home</title>
</head>

<body>
    <nav>
        <div class="menu">
            <p class="website_name">Chemistry</p>
            <div class="menu_links">
                <a href="" class="link">Student</a>
                <a href="" class="link">Assistant</a>
                <a href="" class="link">Instractor</a>
            </div>
            <div class="menu_icon">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
             </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Student</a>
                    <a class="dropdown-item" href="#">Assistant</a>
                    <a class="dropdown-item" href="#">Instractor</a>

                </div>
            </div>
        </div>
    </nav>
    <section class="wrapper">

        <div class="container">

            <div id="scene" class="scene" data-hover-only="false">


>>>>>>> 30161498fad0ff50c45251852db927b665b9e7fd
                <div class="circle" data-depth="1.2"></div>
                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <p class="p404" data-depth="0.50">Chemistry</p>
                <p class="p404" data-depth="0.10">Chemistry</p>

            </div>

            <div class="text">
                <article>
                    <p>Mange your course with the most efficient website</p>
                    <button>
                                <a href="#">Get Start!</a>
                            </button>
                </article>
                <%- include("partails/footer") -%>