<title>Home</title>
<%- include("partails/header") -%>

    <div class="circle" data-depth="1.2"></div>
    <div class="one" data-depth="0.9">
        <div class="content">
            <span class="piece"></span>
            <span class="piece"></span>
            <span class="piece"></span>
        </div>
    </div>

    <div class="two" data-depth="0.60">
        <div class="content">
            <span class="piece"></span>
            <span class="piece"></span>
            <span class="piece"></span>
        </div>
    </div>

    <div class="three" data-depth="0.40">
        <div class="content">
            <span class="piece"></span>
            <span class="piece"></span>
            <span class="piece"></span>
        </div>
    </div>

    <p class="p404" data-depth="0.50">Dr.Micheal</p>
    <p class="p404" data-depth="0.10">Dr.Micheal</p>
    </div>
    <div class="text">
        <article>
            <p>The way to success in Chemistry</p>
            <button>
                            <a href="/login">Get Start!</a>
                        </button>
        </article>
        <%- include("partails/footer") -%>