                
               <title>Home</title>
               <%- include("partails/header") -%>
               
                <div class="circle" data-depth="1.2"></div>
                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <p class="p404" data-depth="0.50">Chemistry</p>
                <p class="p404" data-depth="0.10">Chemistry</p>

            </div>

            <div class="text">
                <article>
                    <p>Mange your course with the most efficient website</p>
                    <button>
                                <a href="#">Get Start!</a>
                            </button>
                </article>
                <%- include("partails/footer") -%>